.clearfix{
    zoom: 1;
}

.clearfix::after{
    display: block;
    content: '';
    clear: both;
}

body{
    min-width: 1160px;
    background-color: rgb(245, 245, 245);
}

.header{
    height: 61px;
    background: linear-gradient(#827265,#716053);
    background: -webkit-linear-gradient(top,#827265,#716053);
    border-bottom: 1px #564944 solid;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2em;
}

.header .container{
    width: 1080px;
    margin: 0 auto;
}

.header h1{
    color: #fff;
    line-height: 61px;
    text-align: center;
}

.page{
    height: 100vh;
    width: 1120px;
    margin: 0 auto;
    padding: 81px 20px 20px;
}

.songlist{
    width: 332px;
    height: 100%;
    float: left;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(0,0,0,.07) 0 1px 3px;
    position: relative;
    padding-top: 112px;
    padding-bottom: 62px;
}

.songlist .title{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#fff,#f5f5f5);
    height: auto;
    width: 330px;
    overflow: visible;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.08);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.08);
    box-shadow: 0 1px 4px rgba(0,0,0,.08);
}

.songlist .title h2{
    text-align: center;
    color: #666;
    border-bottom: 1px solid #eee;
    font-weight: 700;
    font-size: 20px;
    height: 61px;
    line-height: 61px;
}

.songlist .title .songlist-header{
    padding: 0 28px;
    border-bottom: 1px solid #dcdcdc;
    line-height: 50px;
    color: #999;
}

.songlist .title .songlist-header span:first-child{
    display: inline-block;
    width: 190px;
}

.songlist .songlist-container{
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.songlist .songlist-container::-webkit-scrollbar{
    width: 5px!important;
}

.songlist .songlist-container::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
}

.songlist ul li{
    padding: 0 28px;
    line-height: 50px;
    border-bottom: 1px solid #eee;
    color: #424242;
    font-size: 16px;
    background-color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

.songlist ul li:nth-child(even){
    background-color: #fefefe;
}

.songlist ul li:hover{
    background-color: #f5f5f5;
}

.songlist ul li.active{
    background-color: #f1ece1;
    box-shadow: 0 1px 4px rgba(0,0,0,.03) inset;
}

.songlist ul li::after{
    display: block;
    content: '';
    clear: both;
}

.songlist ul li span{
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.songlist ul li span.song-name{
    width: 160px;
    margin-right: 30px;
}

.songlist ul li span.singer{
    width: 79px;
    color: #999;
}
.songlist #add-song-btn{
    position: absolute;
    left: 1.5%;
    bottom: 5px;
    border: 1px solid #e1e1e1;
    color: #646464;
    background-color: #f9f9f9;
    background-image: linear-gradient(180deg,#fff,#f9f9f9);
    -webkit-box-shadow: 0 -1px 4px rgba(0,0,0,.08);
    -moz-box-shadow: 0 -1px 4px rgba(0,0,0,.08);
    box-shadow: 0 -1px 4px rgba(0,0,0,.08);
    display: block;
    border-radius: 6px;
    width: 97%;
    margin: 0 auto;
    line-height: 46px;
    height: 46px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
}

.songlist #add-song-btn:hover{
    background-color: #eee;
    background-image: linear-gradient(180deg,#f5f5f5,#eee);
}

.main{
    width: 728px;
    float: right;
    height: 100%;
    padding-top: 61px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0,0,0,.07) 0 1px 3px;
}

.main .content{
    max-height: 100%;
    padding: 50px 110px;
    overflow-y: auto;
    overflow-x: hidden;
}

.main .content::-webkit-scrollbar{
    width: 5px!important;
}

.main .content::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
}

.main .title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(#fff,#f5f5f5);
    height: auto;
    overflow: visible;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.08);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.08);
    box-shadow: 0 1px 4px rgba(0,0,0,.08);
}

.main .title h2{
    text-align: center;
    color: #666;
    border-bottom: 1px solid #dcdcdc;
    font-weight: 700;
    font-size: 20px;
    height: 61px;
    line-height: 61px;
}

.main .song-info{
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.main .song-info form{
    width: 100%;
}

.main .song-info .row{
    margin-top: 40px;
}

.main .song-info .row:first-child{
    margin-top: 0;
}

.main .song-info .row label{
    display: inline-block;
    width: 19%;
    height: 42px;
    line-height: 42px;
    letter-spacing: 0.1em;
    font-size: 16px;
    color: #888;
}

.main .song-info .row:last-child label{
    height: 1px;
}

.main .song-info input[type=text]{
    background: #fff;
    box-shadow: 0 3px 5px -4px rgba(0,0,0,.4) inset, -1px 0 3px -2px rgba(0,0,0,.1) inset;
    border: #ccc solid 1px;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    opacity: 0.76;
    width: 80%;
    height: 40px;
    line-height: 40px;
    transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    padding: 10px;
}

.main .song-info input[type=submit]{
    height: 41px;
    width: 160px;
    display: block;
    margin: 0 auto;
    line-height: 40px;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background: #6191f2;
    background: linear-gradient(#679af6,#5584f4);
    background: -webkit-linear-gradient(#679af6,#5584f4);
    text-align: center;
    transition: .3s;
}

.main .song-info input[type=submit]:hover{
    background: #6084cf;
    background: linear-gradient(#6d94e0,#5272bb);
    background: -webkit-linear-gradient(#6d94e0,#5272bb);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15);
}

.main .song-info input[type=text]:focus{
    border-color: #6b93f2;
    opacity: 1;
}

.file-uploader{
    width: 100%;
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #dcdcdc;
}

.file-uploader .file-select-wrap{
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 20px;
    line-height: 150px;
    text-align: center;
    position: relative;
}

.file-uploader .file-select-wrap:hover{
    border-color: #6b93f2;
}

.file-uploader .file-select-wrap span{
    color: #999;
}

.file-uploader .file-select-wrap .file-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.file-uploader .file-info{
    margin-top: 30px;
    line-height: 40px;
    padding: 2px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    background-color: #eee;
}

.file-uploader .file-info .process-bar{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 0;
    background: #6191f2;
    z-index: 1;
    transition: .3s;
}

.file-uploader .file-info .process-bar.complete{
    background: #D9BB89;
}

.file-uploader .file-info ul{
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    padding: 0 10px;
    z-index: 10;
}

.file-uploader .file-info li{
    color: #bbb;
    font-size: 14px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-uploader .file-info li span{
    color: #888;
}

.file-uploader .file-info li:nth-child(1){
    width: 55%;
}

.file-uploader .file-info li:nth-child(2){
    width: 23%;
}

.file-uploader .file-info li:nth-child(3){
    width: 22%;
}
