.clearfix{
    zoom: 1;
}

.clearfix::after{
    display: block;
    content: '';
    clear: both;
}

#player{
    width: 100vw;
    max-width: 768px;
    background-color: white;
    margin: 0 auto;
}

#player .song-title{
    height: 91px;
    text-align: center;
    padding: 20px;
}

#player .song-title h1{
    font-size: 20px;
    color: #111;
    font-weight: 600;
    line-height: 1.5em;
}

#player .song-title .singer{
    color: #999;
    font-size: 14px;
    line-height: 1.5em;
}

#player #main{
    width: 100%;
    position: relative;
    padding-bottom: 30px;
    overflow: hidden;
}

#player .cover-wrap{
    width: 300px;
    height: 300px;
    position: relative;
    margin: 20px auto;
}

@media screen and (max-width: 375px) {
    #player .cover-wrap{
        width: 278px;
        height: 278px;
    }
}

@media screen and (max-width: 320px) {
    #player .cover-wrap{
        width: 250px;
        height: 250px;
    }
}

#player .cover-wrap:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
}

#player .cover-wrap .record{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 27%;
}

#player .cover-wrap .record.rotating{
    -webkit-animation: rotating 20s infinite linear;
    animation: rotating 20s infinite linear;
}

@keyframes rotating {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#player .cover-wrap .record:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/record.png) no-repeat center;
    background-size: cover;
    z-index: 1;
}

#player .cover-wrap .cover{
    height: 100%;
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

#player .cover-wrap .cover img{
    width: 100%;
    height: 100%;
}

#player .lyric{
    color: #777;
    text-align: center;
    margin: 20px auto;
    font-size: 14px;
    min-height: 250px;
    padding: 1.5em;
    overflow: hidden;
    -webkit-mask: -webkit-linear-gradient(top,rgba(0,0,0,0),#fff 25%,#fff 75%,rgba(0,0,0,0));
    display: flex;
    display: -webkit-flex;
    justify-items: center;
    align-items: center;
}

#player .lyric .lyric-inner{
    width: 100%;
    line-height: 2em;
    text-align: center;
}

.swiper-pagination-bullet{
    width: 5px;
    height: 5px;
    opacity: 0.1;
}

.swiper-pagination-bullet-active{
    opacity: 0.8;
    background: #999;
}

#player .process{
    position:relative;
    padding: 0 10%;
    margin-top: 20px;
}

#player .process .process-wrap{
    overflow: hidden;
    position: relative;
    padding: 10px 4px;
    margin: 0 40px;
}

#player .process .process-wrap .process-bar{
    height: 2px;
    width: 100%;
    background-color: #ccc;
    position: relative;
    border-radius: 1px;
}

#player .process .process-wrap .process-play{
    width: 100%;
    height: 100%;
    background-color: #dc2a2a;
    position: absolute;
    left: -100%;
    border-radius: 1px;
}

#player .process .process-wrap .process-play .process-btn{
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 5;
}

#player .process .process-wrap .process-play .process-btn:after{
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #dc2a2a;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 6px;
}

#player .process .time{
    color:#666;
    font-size: 12px;
}

#player .process .time .current,#player .process .time .total{
    width: 30px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

#player .process .time .current{
    left: 38px;
}

#player .process .time .total{
    right: 38px;
}

#player .options{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    margin-top: 30px;
}

#player .options a{
    display: inline-block;
    width: 18%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #666;
    user-select: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0)
}

#player .options a i{
    font-size: 26px;
}

#player .options a.option-play i{
    font-size: 30px;
}

#player .options a:first-child i,
#player .options a:last-child i{
    font-size: 24px;
    color: #787878;
}

#songlist{
    position: fixed;
    height: 70vh;
    width: 100vw;
    bottom: -71vh;
    background-color: white;
    z-index: 30;
    border-radius: 10px 10px 0 0;
    padding-top: 60px;
    overflow: hidden;
    transition: 0.3s;
}

#songlist.active{
    bottom: 0;
}

.mask{
    opacity: 0;
    transition: 0.3s opacity;
}

.mask.active{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index: 20;
}

#songlist .songlist-ul{
    max-width: 768px;
    margin: 0 auto;
}

#songlist .header{
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eee;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
}

#songlist .header-container{
    max-width: 768px;
    margin: 0 auto;
}

#songlist .header h2{
    font-size: 16px;
    font-weight: 600;
    color: #333;
    float: left;
}

#songlist .header .amount{
    font-size: 14px;
    float: right;
    color: #999;
}

#songlist .songlist-container{
    height: 100%;
    overflow-y: auto;
    padding: 0 20px;
}

#songlist .songlist-container::-webkit-scrollbar{
    width: 0!important;
    display: none!important;
}

#songlist .songlist-ul li{
    padding: 10px 0;
    cursor: pointer;
}

@media screen and (min-width: 480px) {
    #songlist .songlist-ul li{
        border-bottom: 1px solid #eee;
    }
}

#songlist .songlist-ul li span{
    line-height: 1.5em;
    display: block;
}

#songlist .songlist-ul li span.song-title{
    font-size: 16px;
    color: #222;
}

#songlist .songlist-ul li span.singer{
    font-size: 14px;
    color: #999;
}

#songlist .songlist-ul li.active span.song-title,
#songlist .songlist-ul li.active span.singer{
    color: #dc2a2a;
}